@import 'antd/dist/antd.css';

.App {
  font-family: 'Source Code Pro', Menlo, Monaco, monospace;
  margin: 50px 10px 10px 10px;
}

.nav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

li {
  padding-right: 10px;
  color: #f7b0b1;
}

.link {
  color: #f7b0b1;
}

.link:hover {
  color: gray;
}

.home-contents {
  max-width: 50rem;
}
