@import 'antd/dist/antd.css';

.App {
  font-family: 'Source Code Pro', Menlo, Monaco, monospace;
  margin: 50px 10px 10px 10px;
}

.nav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav > li {
  padding-right: 10px;
  color: #f7b0b1;
}

.link {
  color: #f7b0b1;
}

.link:hover {
  color: gray;
}

.home-contents {
  max-width: 50rem;
}

.writing-tag {
  display: flex;
  justify-content: flex-end;
}

.medium-tags {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.project-carousel {
  height: 300px;
  color: #000;
  line-height: 160px;
  text-align: center;
  /* background-color: #364d79; */
}

.table-icons {
  text-decoration: none;
  color: gray;
}

@media screen and (max-width: 500px) {
  .medium-tags {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}
