@import 'antd/dist/antd.css';
html {
  --antd-wave-shadow-color: #f7b0b1;
}
.App {
  font-family: 'Source Code Pro', Menlo, Monaco, monospace;
  padding: 50px 10px 10px 10px;
}

.dark-mode-button {
  position: relative;
  float: right;
  font-size: 25px;
}

.language-button {
  position: relative;
  float: right;
  background-color: #f4b9b8;
}

/* Dark theme */
.App-dark {
  font-family: 'Source Code Pro', Menlo, Monaco, monospace;
  padding: 50px 10px 10px 10px;
  background-color: #1c1c1c;
}

.App-dark .ant-typography {
  color: #cccccc;
}

.App-dark .ant-page-header-heading-sub-title,
.App-dark .ant-timeline {
  color: #cccccc;
}

.App-dark .ant-page-header-heading-title,
.App-dark h3.ant-typography {
  color: #efefef;
}

.App-dark a.ant-typography {
  color: #f7b0b1;
}

.App-dark .ant-divider {
  background-color: #e8b4b8;
}

.App-dark .ant-divider-dashed {
  background-color: #1c1c1c;
}

.App-dark .ant-timeline-item-tail {
  border-left-color: #cccccc;
}

.App-dark .ant-timeline-item-head {
  background-color: #1c1c1c;
}

.App-dark .ant-table-tbody {
  background-color: #333333;
  color: #cccccc;
}

.App-dark .ant-table-tbody > tr > td {
  border-bottom-color: #797979;
}

.App-dark .ant-btn-dashed {
  background-color: inherit;
  border-color: #797979;
}

.App-dark .ant-table-cell {
  background-color: #333333;
}

.App-dark .ant-table-row:hover {
  background-color: #444444;
}

.App-dark .ant-table-cell:hover {
  background-color: #444444;
}

.App-dark .ant-card,
.App-dark .ant-card-actions {
  background-color: #333333;
}

.App-dark .ant-card-bordered {
  border-color: #333333;
}

.App-dark .ant-card-meta-detail > div {
  color: #cccccc;
}

.App-dark .ant-card-actions {
  border-top-color: #797979;
}

.App-dark .anticon-medium,
.App-dark .anticon-down,
.App-dark .anticon-file-search,
.App-dark .anticon-github,
.App-dark .anticon-linkedin,
.App-dark .anticon-google,
.App-dark .anticon-instagram {
  color: #cccccc;
}

.App-dark .social-button {
  color: #cccccc;
}

.App-dark a.ant-typography,
.App-dark .ant-typography a {
  color: #f7b0b1;
}

::selection {
  background: #67595e;
}

a.ant-typography,
.ant-typography a {
  color: #f7b0b1;
}

a.ant-typography:hover,
.ant-typography a:hover {
  color: gray;
  border-color: gray;
}

.header {
  display: flex;
  flex-direction: row;
}

.nav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav > li {
  padding-right: 10px;
  color: #e8b4b8;
}

.link {
  color: #e8b4b8;
}

.link:hover {
  color: #a49393;
}

.contents {
  max-width: 50rem;
}

.writing-tag {
  display: flex;
  justify-content: flex-end;
}

.medium-tags {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-top: 20px;
}

.medium-tag {
  margin-top: 5px;
}

.medium-icon:hover {
  color: #67595e;
  border-color: #67595e;
}

.project-carousel {
  height: 300px;
  color: #000;
  line-height: 160px;
  text-align: center;
  /* background-color: #364d79; */
}

.learn-more-button {
  display: flex;
  justify-content: flex-end;
}
.table-icons {
  text-decoration: none;
  color: gray;
}

.table-icons:hover {
  color: #67595e;
  border-color: #67595e;
}

.social-links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.social-button {
  color: #a49393;
}

.social-button:hover {
  color: #67595e;
}

.progress-section {
  display: flex;
  font-size: 12px;
}

.progress-title {
  width: 140px;
}

.education-header {
  display: flex;
}

.education-title {
  margin-left: 10px;
  padding-top: 5px;
}

.education-body {
  padding-top: 5px;
  font-size: 12px;
}

.experience-sub {
  display: flex;
  justify-content: flex-end;
}

.experience-tags {
  margin-bottom: 5px;
}

.experience-button {
  display: flex;
  justify-content: center;
}

.experience-button-hover:hover {
  color: #a49393;
  border-color: #a49393;
}

.footer {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  color: gray;
  margin-bottom: 30px;
}

@media screen and (max-width: 500px) {
  .medium-tags {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  .progress-section {
    display: flex;
    font-size: 10px;
  }
}
