@import url('https://fonts.googleapis.com/css?family=Cantarell:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100&display=swap');
@import url('https://fonts.googleapis.com/css?family=Khula&display=swap');

.wrapper {
    /* font-family: 'Maven Pro', sans-serif; */
    font-family: 'Cantarell', sans-serif;
}

.logo {
    font-family: 'Satisfy', cursive;
}

.footer {
    font-family: 'Roboto', sans-serif;
}

.card {
    font-family: 'Satisfy', cursive;
}
